# workspace folders
.vscode
__pycache__
.venv
.ruff_cache
.cache
extract/eu
extract/jp
extract/us
build/
libs/libgz.a
output/
rando/temp/

# workspace files
*.nds
*.ppf
*.bin
*.hexpat

# melonDS files
*.sav
*.ml*
*.bak*
